css
body { font-family: Arial; }
.red { color: red; }
.bold { font-weight: bold; }
.color1 { color: blue; }
.color2 { color: green; }
.color3 { color: orange; }
.color4 { color: purple; }
.big { font-size: 20px; }